* {
  box-sizing: border-box;
  margin: 0;
}

.iphone {
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

@font-face {
  font-family: Avenir-Light;
  src: url("../assets/fonts/avenir-next-lt-pro-cufonfonts/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: Avenir-Black;
  src: url("../assets/fonts/avenir-next-lt-pro-cufonfonts/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: Avenir-Heavy;
  src: url("../assets/fonts/avenir-next-lt-pro-cufonfonts/AvenirNextLTPro-HeavyCn.otf");
}

.iphone {
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

a,
button,
div {
  -webkit-tap-highlight-color: transparent;
  outline: transparent;
}

.container {
  width: 100%;
  height: 100%;
}

body {
  font-family: Avenir-Light;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #00000e;
}

main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  background: #ffffff;
}

/* ------------------------------------------------ Header ------------------------------------------------ */

header {
  z-index: 2;
  width: 100vw;
  height: 15%;
  position: fixed;
  background-color: transparent;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.toggle-menu-icon {
  display: none;
}

nav>ul {
  width: 90%;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 15% 15% 40% 15% 15%;
  grid-template-rows: 100%;
}

nav>ul>li,
.header-links {
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000000;
  font-size: 2vw;
}

.links-onhover {
  height: 50%;
}

.links-onhover:hover {
  background: url("../assets/images/Linea.png") no-repeat bottom center;
}

.links-onhover.active {
  color: #fbb420;
  font-size: 2.5vw;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000000;
  background: none;
}

.logo {
  height: 60%;
  width: 100%;
}

#logo-mobile {
  display: none;
}

/* ------------------------------------------------ Background ------------------------------------------------ */

.background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: fixed;
  z-index: 0;
}

.background>.opacity-mask {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #600364 0%, #b15f43 31%, #fcb425 75%);
  position: absolute;
  z-index: -1;
  opacity: 0.45;
}

.background-elements {
  width: 100%;
  height: 85%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(10, 10%);
}

.background-img {
  width: 100%;
  height: 100%;
}

.background-elements>.img-container:nth-child(1) {
  z-index: 0;
  grid-column: 1/2;
  grid-row: 1/11;
  align-self: flex-end;
  height: 100%;
}

.background-elements>.img-container:nth-child(2) {
  z-index: 0;
  grid-column: 1/2;
  grid-row: 1/11;
  height: 65%;
  align-self: flex-end;
}

#mountain-001.active {
  height: 100vh;
  transform: scale(2);
  transition: height 1.6s, transform 1.6s;
}

#mountain-001.innactive {
  height: 65%;
  transform: scale(1);
  transition: height 0.7s, transform 1.7s;
}

#mountain-002.active {
  height: 0;
  transition: height 1.6s;
}

#mountain-002.innactive {
  height: 100%;
  transition: height 0.7s;
}

.background-elements>.img-container:nth-child(3) {
  z-index: 0;
  grid-column: 1/2;
  grid-row: 5/11;
  background: url("../assets/images/cities_this.png") no-repeat center bottom;
  background-size: contain;
}

/* ------------------------------------------------ Side Fixed Elements ------------------------------------------------ */

.side-fixed-elements {
  width: 8%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 90% 10%;
  justify-items: center;
  position: fixed;
  z-index: 2;
}

.icons {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 70%;
  height: 30%;
  align-self: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 33.3%);
  margin: 0;
  justify-items: center;
}

.icons>a {
  width: 100%;
  height: 100%;
}

.icon {
  height: 50%;
  width: 100%;
}

.language-bttn-container {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  margin-left: 0;
  display: flex;
  align-self: flex-end;
}

.language-bttn {
  background: transparent;
  border: none;
  height: 60%;
  width: 100%;
  padding: 0;
  cursor: pointer;
}

.language-bttn>svg {
  width: 100%;
  height: 100%;
}

.tab-bar {
  display: none;
}

.hide {
  display: none;
}

.mobile-language-bttn {
  display: none;
}

/* ------------------------------------------------ Tag ------------------------------------------------ */

main>h1 {
  width: 100%;
  z-index: 1;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: 30% 10% 60%;
  grid-template-columns: 38% 24% 38%;
  justify-items: center;
}

.home-img {
  width: 80%;
  height: 80%;
  grid-column: 2/3;
  grid-row: 2/3;
}

/* ------------------------------------------------ Home ------------------------------------------------ */

.home.active {
  width: 100%;
  height: 100vh;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
}

.home {
  display: none;
}

.home-elements {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(10, 10%);
}

.zeppelin {
  z-index: 1;
  grid-column: 1/2;
  grid-row: 5/8;
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  justify-self: center;
}

.zeppelin>a {
  width: 100%;
}

.zeppelin>a>svg {
  width: 100%;
  height: 50%;
}

/* ------------------------------------------------ Services ------------------------------------------------ */

.services {
  display: none;
}

#service.active {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.carousel {
  width: 70%;
  height: 80%;
  align-self: flex-end;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 10% 90%;
  align-items: center;
  justify-items: center;
}

.services-title {
  grid-column: 1/3;
  grid-row: 1/2;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.services-title>svg {
  height: 100%;
}

.carousel-img {
  grid-row: 2/3;
  display: flex;
  margin: 0;
  height: 80%;
  width: 100%;
}

.carousel-img>svg {
  width: 100%;
  height: 91%;
  margin-top: 5%;
}

.arrows {
  display: none;
}

/* ------------------------------------------------ Projects ------------------------------------------------ */

.projects {
  display: none;
}

#project.active {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.carousel-projects {
  width: 70%;
  height: 80%;
  align-self: flex-end;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 10% 90%;
  align-items: center;
  justify-items: center;
}

.projects-title {
  grid-column: 1/3;
  grid-row: 1/2;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.projects-title>svg {
  height: 100%;
}

.carousel-img-projects {
  grid-row: 2/3;
  display: grid;
  height: 80%;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 25% 60% 15%;
}

.project-text {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: #ffffff;
  font-family: Avenir-Light;
  font-size: 1.1em;
  padding: 4%;
}

.project-text>h3 {
  color: #fbb420;
  font-family: Avenir-Black;
}

.project-img {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 90%;
  height: 90%;
  align-self: center;
  justify-self: center;
}

.open-icon {
  grid-column: 1/2;
  grid-row: 3/4;
  height: 70%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

.open-icon>svg {
  height: 100%;
}

.arrows {
  display: none;
}

.modal {
  display: none;
}

/* ------------------------------------------------ Us ------------------------------------------------ */
.uss {
  display: none;
}

#us.active {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.carousel-us {
  width: 70%;
  height: 80%;
  align-self: flex-end;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 10% 90%;
  align-items: center;
  justify-items: center;
}

.us-title {
  grid-column: 1/3;
  grid-row: 1/2;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.us-title>svg {
  height: 100%;
}

.carousel-img-us {
  grid-row: 2/3;
  display: flex;
  margin: 0;
  height: 80%;
  width: 100%;
}

.carousel-img-us>svg {
  width: 100%;
  height: 91%;
  margin-top: 5%;
}

.arrows {
  display: none;
}

/* ------------------------------------------------ Contact ------------------------------------------------ */
.contacts {
  display: none;
}

#contact.active {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

/* Media queries */

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .carousel {
    width: 60%;
    height: 75%;
    align-self: flex-end;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    align-items: center;
    justify-items: center;
  }

  .services-title {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    height: 50%;
  }

  .services-title>svg {
    height: 75%;
  }

  .carousel-img {
    display: none;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .arrows {
    display: block;
    color: #ffffff;
    height: 10%;
    width: 10%;
    opacity: 0;
  }

  #next {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
    justify-self: right;
  }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  header {
    height: 15%;
  }

  nav>ul {
    grid-template-columns: 17% 17% 32% 17% 17%;
  }

  nav>ul>li,
  .header-links {
    font-size: 2.5vw;
  }

  .side-fixed-elements {
    width: 10%;
  }

  .icons {
    width: 60%;
    height: 30%;
  }

  .language-bttn-container {
    width: 90%;
    height: 90%;
  }

  .background-elements {
    height: 85%;
  }

  .background-elements>.img-container:nth-child(1) {
    grid-row: 1/11;
    align-self: flex-end;
    height: 100%;
  }

  .background-elements>.img-container:nth-child(2) {
    grid-row: 1/11;
    height: 65%;
    align-self: flex-end;
  }

  .background-elements>.img-container:nth-child(3) {
    grid-row: 5/11;
    background: url("../assets/images/cities.png") no-repeat 40% bottom;
    background-size: cover;
  }

  main>h1 {
    grid-template-rows: 30% 10% 60%;
    grid-template-columns: 27.5% 45% 27.5%;
    justify-items: center;
  }

  .home-img {
    height: 90%;
  }

  .home-elements {
    height: 80%;
  }

  .zeppelin {
    grid-row: 6/9;
    width: 30%;
  }

  .zeppelin>a {
    height: 70%;
    width: 100%;
  }

  .zeppelin>a>svg {
    width: 100%;
    height: 70%;
  }

  .tab-bar {
    display: none;
  }

  .carousel,
  .carousel-projects,
  .carousel-us {
    width: 60%;
    height: 75%;
    align-self: flex-end;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    align-items: center;
    justify-items: center;
  }

  .services-title,
  .projects-title,
  .us-title {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    height: 50%;
  }

  .services-title>img {
    height: 80%;
    width: 80%;
  }

  .carousel-img,
  .carousel-img-projects,
  .carousel-img-us {
    display: none;
    grid-column: 1/2;
    grid-row: 2/3;
    width: 80%;
  }

  .arrows {
    display: block;
    color: #ffffff;
    width: 10%;
    height: 10%;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .arrows>img {
    width: 50%;
    height: 50%;
    margin-left: -20%;
  }

  #next,
  #next-us {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
    justify-self: right;
    margin-right: 5%;
  }

  #prev-us {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
    justify-self: left;
    margin-left: 5%;
  }

  #next-projects {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: flex-start;
    justify-self: right;
    margin-right: 5%;
    margin-top: 15%;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  header {
    display: none;
  }

  main {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    position: fixed;
  }

  .logo {
    height: 45%;
    width: 55%;
  }

  #logo-svg.active {
    width: 75%;
    height: 70%;
    transition: height 0.5s, width 0.5s;
    transition-delay: 0.6s;
    transition-timing-function: ease-in;
  }

  #logo-mobile {
    display: grid;
    z-index: 4;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    position: absolute;
  }

  #logo-mobile.active {
    width: 50%;
    height: 15%;
    transition: height 0.5s, width 0.5s;
    transition-timing-function: ease-in;
  }

  #logo-mobile.innactive {
    width: 100%;
    height: 20%;
    justify-content: center;
    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease-out;
  }

  .background {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: absolute;
  }

  .background-elements {
    height: 80%;
  }

  .background-elements>.img-container:nth-child(1) {
    grid-row: 1/11;
    align-self: flex-end;
    height: 100%;
  }

  .background-elements>.img-container:nth-child(2) {
    grid-row: 1/11;
    height: 65%;
    align-self: flex-end;
  }

  .background-elements>.img-container:nth-child(3) {
    grid-row: 4/10;
    background: url("../assets/images/cities.png") no-repeat 40% bottom;
    background-size: cover;
  }

  .side-fixed-elements {
    display: none;
  }

  .mobile-language-bttn {
    display: block;
    width: 12%;
    position: absolute;
    z-index: 4;
    right: 0;
    margin: 5%;
    overflow: hidden;
  }

  main>h1 {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    grid-template-rows: 35% 10% 55%;
    grid-template-columns: 20% 60% 20%;
    overflow: hidden;
  }

  .home-img {
    height: 90%;
    width: 100%;
  }

  .home.active {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }

  .home-elements {
    height: 70%;
    height: calc(var(--vh, 1vh) * 70);
    overflow: hidden;
  }

  .zeppelin {
    grid-row: 5/8;
    width: 40%;
    overflow: hidden;
  }

  #zeppelin-link {
    height: 100%;
  }

  .zeppelin>a>svg {
    width: 100%;
    height: 100%;
  }

  #service.active {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    z-index: 1;
  }

  .carousel,
  .carousel-projects,
  .carousel-us {
    width: 100%;
    height: 86%;
    grid-template-columns: 100%;
    grid-template-rows: 11% 90%;
  }

  .services-title,
  .projects-title,
  .us-title {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: flex-start;
    height: 99%;
    width: 70%;
  }

  .projects-title>img,
  .us-title>img {
    width: 80%;
    height: 80%;
  }

  .carousel-img {
    height: 80%;
    width: 70%;
    align-self: flex-start;
    margin: 0;
  }

  .project-img {
    width: 50%;
  }

  .carousel-img-projects {
    grid-row: 2/3;
    display: grid;
    height: 83%;
    width: 70%;
    align-self: flex-start;
    grid-template-columns: 100%;
    grid-template-rows: 30% 55% 15%;
  }

  .project-text {
    font-size: 1em;
  }

  .open-icon {
    align-self: flex-end;
    width: 50%;
    height: 100%;
  }

  .open-icon>svg {
    z-index: -1;
  }

  #project.active {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    z-index: 1;
  }

  #us.active {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    z-index: 1;
  }

  .carousel-img-us {
    grid-row: 2/3;
    display: grid;
    height: 83%;
    width: 70%;
    align-self: flex-start;
    grid-template-columns: 100%;
    grid-template-rows: 85% 15%;
  }

  .carousel-img-us>img {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 90%;
    align-self: flex-end;
  }

  .carousel-img-us>a {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: flex-end;
    width: 50%;
    height: 100%;
  }

  #contact.active {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    z-index: 1;
    grid-template-rows: 15% 10% 75%;
    align-items: center;
    justify-content: center;
  }

  .contact-title {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .contact-title>img {
    width: 50%;
  }

  .contact-content-container {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 5% 20% 50% 13% 12%;
  }

  .contact-zepellin {
    grid-column: 2/3;
    grid-row: 2/4;
    height: 100%;
    width: 100%;
    align-self: flex-start;
  }

  .social-media-container {
    grid-column: 2/3;
    grid-row: 3/4;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 50% 20% 20% 10%;
    align-items: center;
    justify-items: center;
  }

  .social-media-container>img {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 80%;
    height: 80%;
  }

  .contact-links {
    text-decoration: none;
    font-family: Avenir-Black;
    font-size: 1em;
    color: #49034C;
    letter-spacing: 0.67px;
    text-align: center;
  }

  #mail-link {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  #phone-link {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  #open-icon-contact {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .modal {
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    /* overflow-y: scroll; */
  }

  .modal.innactive {
    display: none;
  }

  .modal.active {
    display: grid;
  }

  .modal-content {
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 13vh 8vh 50vh repeat(3, 70vh);
    overflow-y: scroll;
  }

  #modal-one {
    background-color: #49d9c2;
  }

  #modal-two {
    background-color: #33cccd;
  }

  .close-modal {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
    justify-self: right;
    margin-right: 8%;
    z-index: 1;
  }

  .modal-text {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
    font-family: Avenir-Light;
    font-size: 1.1em;
    color: #ffffff;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
  }

  .modal-text>h3 {
    color: #fbb420;
    font-family: Avenir-Black;
    text-shadow: 1px 1px 4px rgba(7, 7, 7, 0.5);
    padding: 6%;
    width: 100%;
  }

  .modal-text>ul>li {
    margin-bottom: 3%;
    list-style-image: url("../assets/images/bullet.svg");
  }

  .modal-img-one {
    grid-column: 1/2;
    grid-row: 4/5;
    align-self: center;
    justify-self: center;
    height: 80%;
  }

  .modal-img-two {
    grid-column: 1/2;
    grid-row: 5/6;
    align-self: center;
    justify-self: center;
    height: 80%;
  }

  .modal-img-three {
    grid-column: 1/2;
    grid-row: 6/7;
    align-self: center;
    justify-self: center;
    height: 80%;
  }

  .modal-content-mision {
    background-color: #49034C;
    display: grid;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 15% 7% 78%;
  }

  .us-modal-img-container {
    grid-column: 1/2;
    grid-row: 3/4;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .us-modal-img-container>img {
    height: 90%;
  }

  .modal-content-us {
    background-color: #F7C968;
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 12vh 7vh 45vh 10vh 70vh;
    overflow-y: scroll;
    align-items: center;
  }

  .us-img-container {
    grid-column: 1/2;
    grid-row: 3/4;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Avenir-Black;
    font-size: 1.1em;
    color: #5F0263;
    letter-spacing: 0.57px;
    text-align: center;
  }

  .us-img-container>img {
    width: 60%;
    margin-bottom: 5%;
  }

  .quote {
    grid-column: 1/2;
    grid-row: 4/5;
    font-family: Avenir-HeavyOblique;
    font-size: 1em;
    color: #5F0263;
    letter-spacing: 0.52px;
    text-align: center;
    margin-top: 5%;
    padding: 0 10% 0 10%;
  }

  .modal-us-info-container {
    grid-column: 1/2;
    grid-row: 5/6;
    font-family: Avenir-Roman;
    font-size: 0.9em;
    color: #5F0263;
    display: grid;
    align-items: center;
    letter-spacing: 0.45px;
    height: 100%;
  }

  .modal-us-info-container>p {
    padding: 5% 8% 5% 8%;
  }

  .modal-content-contact {
    background-color: #49034C;
    display: grid;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 13% 7% 55% 25%;
  }

  .address {
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .address>h2 {
    font-family: Avenir-Black;
    font-size: 25px;
    color: #FBB420;
    letter-spacing: 0.8px;
    text-align: center;
    margin-bottom: 10%;
    /* margin-top: 15%; */
  }

  .address>p {
    font-family: Avenir-Black;
    font-size: 1.5em;
    color: #FFFFFF;
    letter-spacing: 0.7px;
    text-align: center;
    text-shadow: 0 2px 4px rgba(77, 4, 4, 0.50);
    margin-bottom: 10%;
    line-height: 1.7em;
    padding: 0 5% 0 5%;
  }

  .contact-city{
    grid-column: 1/2;
    grid-row: 4/5;
    width: 100%;
    height: 100%;
    background: url("../assets/images/cities.png") no-repeat 40% bottom;
    background-size: cover;
  }

  .tab-bar {
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    height: 8vh;
    width: 100%;
    z-index: 2;
    background-image: linear-gradient(180deg, #7e0582 0%, #48024b 100%);
    box-shadow: 0 -3px 8px 0 rgba(0, 0, 0, 0.75);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .tab-bar>ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .tab-bar>ul>li {
    width: 15%;
    height: 100%;
    color: #ffffff;
    list-style-type: none;
  }

  .tab-bar>ul>li>a {
    height: 100%;
    width: 100%;
  }

  .tab-bar>ul>li>a>svg {
    height: 85%;
    width: 85%;
  }

  .header-links.project>svg {
    margin-top: 4%;
  }

  .background-icons.active {
    fill: #fbb420;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    body {
      position: fixed;
    }

    main {
      position: initial;
    }

    .background-elements>.img-container:nth-child(3) {
      grid-row: 4/10;
      background: url("../assets/images/cities.png") no-repeat 40% bottom;
      background-size: cover;
    }
  }
}

/* @media screen and (min-width: 300px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-360deg);
    transform-origin: center center;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    position: fixed;
  } */

/* .background, .side-fixed-elements, body, main, .home, main>h1, .services{
    height: calc(var(--vh, 1vh) * 100);
  } */

/*   body{
    position: fixed;
  }
} */