* {
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: Avenir-Light;
    src: url("../assets/fonts/avenir-next-lt-pro-cufonfonts/AvenirNextLTPro-Regular.otf")
}

.container {
    width: 100%;
    height: 100%;
}

body {
    font-family: Avenir-Light;
    width: 100%;
    height: 100%;
    margin: 0;
}

main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 100%;
}

/* ------------------------------------------------ Header ------------------------------------------------ */

header {
    z-index: 2;
    width: 100vw;
    height: 20%;
    position: fixed;
    background-color: transparent;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.toggle-menu-icon {
    display: none;
}

nav>ul {
    width: 90%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 15% 15% 40% 15% 15%;
    grid-template-rows: 100%;
}

nav>ul>li,
.header-links {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000000;
    font-size: 2vw;
}

.logo {
    height: 60%;
    width: 100%;
}

#logo-mobile {
    display: none;
}

/* ------------------------------------------------ Background ------------------------------------------------ */

.background {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: fixed;
    z-index: 0;
}

.background>.opacity-mask {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #600364 0%, #B15F43 31%, #FCB425 75%);
    position: absolute;
    z-index: -1;
    opacity: 0.45;
}

.background-elements {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(10, 10%);
}

.background-elements>.img-container:nth-child(1) {
    z-index: 0;
    grid-column: 1/2;
    grid-row: 1/11;
    height: 90%;
    align-self: flex-end;
}

.background-img {
    width: 100%;
    height: 100%;
}

.background-elements>.img-container:nth-child(2) {
    z-index: 0;
    grid-column: 1/2;
    grid-row: 5/11;
    background: url("../assets/images/cities_this.png") no-repeat center bottom;
    background-size: contain;
}

/* ------------------------------------------------ Side Fixed Elements ------------------------------------------------ */

.side-fixed-elements {
    width: 8%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90% 10%;
    justify-items: center;
    position: fixed;
    z-index: 2;
}

.icons {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 70%;
    height: 30%;
    align-self: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 33.3%);
    margin: 0;
    justify-items: center;
}

.icons>a {
    width: 100%;
    height: 100%;
}

.icon {
    height: 50%;
    width: 100%;
}

.language-bttn-container {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    margin-left: 0;
    display: flex;
    align-self: flex-end;
}

.language-bttn {
    background: transparent;
    border: none;
    height: 60%;
    width: 100%;
    padding: 0;
    cursor: pointer;
}

.language-bttn>img {
    width: 100%;
    height: 100%;
}

.tab-bar {
    display: none;
}

/* ------------------------------------------------ Home ------------------------------------------------ */

.home.active {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
}

.home {
    display: none;
}

.home-elements {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(10, 10%);
}

.home-elements>h1 {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
    z-index: 1;
    width: 30%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zeppelin {
    z-index: 1;
    grid-column: 1/2;
    grid-row: 5/8;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.zeppelin>svg {
    width: 100%;
    height: 50%;
}

.services {
    display: none;
}

#service.active {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.projects {
    display: none;
}

#project.active {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100vh;
    z-index: 1;
    padding: 20%;
}

/* Media queries */

@media screen and (max-width: 1024px) and (orientation: portrait) {
    header {
        height: 20%;
    }
    
    nav>ul {
        grid-template-columns: 17% 17% 32% 17% 17%;
    }

    nav>ul>li,
    .header-links {
        font-size: 2.5vw;
    }

    .side-fixed-elements {
        width: 10%;
    }

    .icons {
        width: 60%;
        height: 30%;
    }

    .language-bttn-container {
        width: 90%;
        height: 90%;
    }

    /* .toggle-menu-icon {
        display: none;
    } */

    .background-elements {
        height: 80%;
    }

    .background-elements>.img-container:nth-child(1) {
        grid-row: 2/11;
        height: 100%;
        align-self: flex-end;
    }

    .background-elements>.img-container:nth-child(2) {
        grid-row: 5/11;
        background: url(../assets/images/cities.png) no-repeat 40% bottom;
        background-size: cover;
    }

    .home-elements {
        height: 80%;
    }

    .home-elements>h1 {
        grid-row: 3/5;
        height: 50%;
        width: 50%;
    }

    .zeppelin {
        grid-row: 6/9;
    }

    .zeppelin>svg {
        height: 50%;
    }

    .tab-bar {
        display: none;
    }
}

@media screen and (max-width: 600px) and (orientation: portrait) {

    /* header {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .toggle-menu-icon {
        align-self: flex-end;
        display: block;
        height: 30px;
        width: 30px;
        margin: 20px;
    }

    .toggle-menu-icon>svg {
        width: 100%;
        height: 100%;
    }

    #path1.open {
        animation: 0.7s path1Animation ease-out forwards;
    }

    #path2.open {
        width: 0%;
        opacity: 0;
    }

    #path3.open {
        animation: 0.7s path2Animation ease-out forwards;
    }

    #path1.close {
        animation: 0.7s path1Animationreverse ease-out forwards;
    }

    #path2.close {
        width: 100%;
        opacity: 1;
    }

    #path3.close {
        animation: 0.7s path2Animationreverse ease-out forwards;
    }
 */
    header {
        display: none
    }

    /*     .active {
        display: flex;
        width: 100%;
        height: 100vh;
        animation: 0.5s menuAppearance linear forwards;
    }

    .active-header {
        background-image: url("../assets/images/menu-background.svg");
        background-color: #ffffff;
        animation: 0.4s menuAppearance ease-in forwards;
    }

    nav>ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav>ul>li,
    .header-links {
        width: 100%;
        height: 10%;
        color: #ffffff;
        font-size: 8vw;
    }

    .li-logo {
        display: none;
    } */

    .logo-link {
        height: 40%;
    }

    .logo {
        height: 40%;
        width: 60%;
    }

    #logo-mobile {
        display: flex;
        z-index: 1;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

    .background-elements {
        height: 60%;
    }

    .background-elements>.img-container:nth-child(1) {
        grid-row: 1/11;
        height: 100%;
        align-self: flex-end;
    }

    .background-elements>.img-container:nth-child(2) {
        grid-row: 4/11;
        background: url(../assets/images/cities.png) no-repeat 40% bottom;
        background-size: cover;
    }

    .side-fixed-elements {
        width: 10%;
        height: 90vh;
        align-self: flex-start;
    }

    .icons{
        align-self: flex-end;
    }
    
    .language-bttn-container {
        width: 90%;
        height: 90%;
        align-self: flex-end;
    }

    .home-elements {
        height: 60%;
    }

    .home-elements>h1 {
        grid-row: 2/4;
        height: 60%;
        width: 60%;
    }

    .zeppelin {
        grid-row: 5/8;
    }

    #zeppelin-link {
        height: 50%;
        width: 30%;
    }

    .zeppelin>svg {
        height: 50%;
    }

    #service.active {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 33.3%);
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 100vh;
        z-index: 1;
    }

    #project.active {
        display: grid;
        align-items: center;
        justify-items: center;
        width: 100%;
        height: 100vh;
        z-index: 1;
        padding: 5%;
    }

    .tab-bar {
        bottom: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        height: 10vh;
        width: 100%;
        z-index: 2;
        background-image: linear-gradient(180deg, #7E0582 0%, #48024B 100%);
        box-shadow: 0 -3px 8px 0 rgba(0,0,0,0.75);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }

    .tab-bar>ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .tab-bar>ul>li {
        width: 20%;
        height: 100%;
        color: #ffffff;
        list-style-type: none;
    }

    .tab-bar>ul>li>a {
        height: 100%;
        width: 100%;
        font-size: 3vw;
    }

    @keyframes menuAppearance {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes path1Animation {
        50% {
            transform: translateY(44px);
        }

        100% {
            transform: rotate(45deg);
            transform-origin: 0 50%;
        }
    }

    @keyframes path2Animation {
        50% {
            transform: translateY(-44px);
        }

        100% {
            transform: rotate(-45deg);
            transform-origin: 25% 50%;
        }
    }

    @keyframes path1Animationreverse {
        0% {
            transform: rotate(45deg) translateY(-44px) translateX(5px);
        }

        30% {
            transform: translateY(-10px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    @keyframes path2Animationreverse {
        0% {
            transform: rotate(-45deg) translateY(44px) translateX(5px);
        }

        30% {
            transform: translateY(10px);
        }

        100% {
            transform: translateY(0px);
        }
    }
}